services:
  - name: api-gateway
    replicaCount: 1
    port: 5000
    env:
      - name: ENTRIES_ADDR
        value: "entries-cluster-ip-service:50051"
      - name: OPENAI_API_KEY
        value: "key"
      - name: OPENAI_MODEL
        value: "gpt-4o-mini"
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"
  
  - name: entries-service
    replicaCount: 1
    port: 50051
    env:
      - name: PGUSER
        value: postgres
      - name: PGHOST
        value: postgres-cluster-ip-service
      - name: PGPORT
        value: "5432"
      - name: PGDATABASE
        value: postgres
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            name: pgpassword
            key: PGPASSWORD
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"
  
  - name: files-service
    replicaCount: 1
    port: 5004
    env:
      - name: PORT
        value: "5004"
      - name: REGION
        value: "us-east-1"
      - name: MAX_MB
        value: "10"
      - name: BUCKET
        value: "kaveri-eks-purpose"
      - name: PREFIX
        value: "gratitudeapp-uploads"
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"

  - name: moods-api
    replicaCount: 1
    port: 5002
    env:
      - name: MOODS_SERVICE_ADDR
        value: "moods-service-cluster-ip-service:50052"
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"
  
  - name: moods-service
    replicaCount: 1
    port: 50051
    env:
      - name: PGUSER
        value: postgres
      - name: PGHOST
        value: postgres-cluster-ip-service
      - name: PGPORT
        value: "5432"
      - name: PGDATABASE
        value: postgres
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            name: pgpassword
            key: PGPASSWORD
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"

  - name: server-main
    replicaCount: 1
    port: 5001
    env:
      - name: PGUSER
        value: postgres
      - name: PGHOST
        value: postgres-cluster-ip-service
      - name: PGPORT
        value: "5432"
      - name: PGDATABASE
        value: postgres
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            name: pgpassword
            key: PGPASSWORD
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"
  
  - name: stats-api
    replicaCount: 1
    port: 5003
    env:
      - name: STATS_SERVICE_ADDR
        value: "stats-service-cluster-ip-service:50053"
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"

  - name: stats-service
    replicaCount: 1
    port: 50053
    env:
      - name: PGUSER
        value: postgres
      - name: PGHOST
        value: postgres-cluster-ip-service
      - name: PGPORT
        value: "5432"
      - name: PGDATABASE
        value: postgres
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            name: pgpassword
            key: PGPASSWORD
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"