apiVersion: apps/v1
kind: Deployment
metadata:
  name: entries-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: entries-service
  template:
    metadata:
     labels: 
       component: entries-service
    spec:
      containers:
        - name: entries-service
          image: kaveri21/gratitudeapp:entries-servicev1.1
          ports:
            - containerPort: 50051
          env:
            - name: PGUSER
              value: postgres
            - name: PGHOST
              value: postgres-cluster-ip-service
            - name: PGPORT
              value: "5432"
            - name: PGDATABASE
              value: postgres
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pgpassword
                  key: PGPASSWORD