apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-main-deployment
spec: 
  replicas: 1
  selector:
    matchLabels:
      component: server-main
  template:
    metadata:
      labels:
        component: server-main
    spec: 
      containers:
        - name: moods-server
          image: kaveri21/gratitudeapp:server-mainv1.1
          ports:
            - containerPort: 5001
          env:
            - name: PGUSER
              value: postgres
            - name: PGHOST
              value: postgres-cluster-ip-service
            - name: PGPORT
              value: "5432"
            - name: PGDATABASE
              value: postgres
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pgpassword
                  key: PGPASSWORD